:root {
	--pry: #151615;
	--sec: #444743;
	--link: #1a441a;
	--header: #444743;
	--hover: #20231f;
	--bg: #040504;
	--text: #999;
}

body {
	margin: 0;
	font-size: 1.2rem;
	background: var(--bg);
	color: var(--text);
	font-family: serif;
}

h1, h2, h3 {
	color: var(--header);
}

a {
	color: var(--link);
	text-decoration: none;
}

/* nav header style */

.container {
	padding: 5rem 1rem 1rem 1rem;
	transition-duration: 1s;
}

		nav {
			background: var(--pry);
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			grid-gap: 1rem;
			align-items: center;
			padding: .5rem;
			position: fixed;
			width: calc(100% - .5rem);
		}

		nav .logo {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 1rem;
			align-items: center;
		}

		.logo .dp-menu {
			padding: 5px;
			display: inline-block;
			cursor: pointer;
		}

		.logo .dp-menu span {
			display: block;
			background: var(--sec);
			padding: 2px .9rem;
			margin: 5px;
		}

		.logo .dp-menu span:nth-child(even) {
			margin: 5px 0px 5px 5px;
		}

		.logo .dp-link {
			margin-left: -50rem;
			position: fixed;
			left: 0;
			top: 4.6rem;
			background: var(--pry);
			box-shadow: 2px 0px 5px var(--pry);
			width: 10rem;
			height: 100%;
			transition-duration: 1s;
		}

		.logo .dp-link a {
			display: block;
			padding: 1rem;
			border-bottom: 2px solid var(--sec);
		}

		nav .logo a[href='/'] {
			color: var(--sec);
			font-style: italic;
			font-size: 1.3rem;
		}

		nav .links {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 1rem;
		}

		nav .links a,
		nav .logo .dp-link a {
			color: var(--sec);
			display: block;
			padding: 1rem
		}

		.links a:hover,
		.links a:focus,
		.dp-link a:hover,
		.dp-link a:focus {
			border-bottom: 2px solid var(--sec);
			margin-bottom: -2px;
		}

		.dp-link a:hover,
		.dp-link a:focus {
			background: var(--sec);
			color: var(--pry) !important;
		}

		.links a:nth-last-of-type(n + 2) {
			display: none;
		}

		#search {
			display: none;
		}

		#search span.close {
			padding: 5px;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
		}

@media (min-width: 576px) {
	.links a {
		display: block !important;
	}
	
	._auth {
		display: grid;
		justify-content: center;
	}
}