:root {
	--pry: #151615;
	--sec: #444743;
	--link: #1a441a;
	--header: #444743;
	--hover: #20231f;
	--bg: #040504;
	--text: #999;
}

body {
	margin: 0;
	font-size: 1.3rem;
	background: var(--bg);
	color: var(--text);
	font-family: serif !important;
}

h1, h2, h3 {
	color: var(--header);
}

a {
	color: var(--link);
	text-decoration: none;
}

.container {
	display: grid;
	justify-content: center;
	padding: 3rem 0;
}

footer {
	background: var(--bg);
	padding: 1rem;
  text-align: center;
	box-shadow: -2px 1px 5px var(--sec);
}