:root {
	--pry: #151615;
	--sec: #444743;
	--link: #1a441a;
	--header: #444743;
	--hover: #20231f;
	--bg: #040504;
	--text: #999;
}

body {
	margin: 0;
	font-size: 1.2rem;
	background: var(--bg);
	color: var(--text);
	font-family: serif;
}

h1, h2, h3 {
	color: var(--header);
}

a {
	color: var(--link);
	text-decoration: none;
}
